* { margin: 0; padding: 0; box-box-sizing: border-box; font-family: 'Segoe UI', sans-serif; }
body { background: #f4f7f6; display: flex; }
.container { display: flex; width: 100%; height: 100vh; }

/* Sidebar */
.sidebar { width: 250px; background: #2c3e50; color: white; padding: 20px; }
.sidebar h2 { margin-bottom: 30px; color: #3498db; }
.sidebar ul { list-style: none; }
.sidebar li { padding: 15px; cursor: pointer; border-radius: 8px; transition: 0.3s; }
.sidebar li:hover, .sidebar li.active { background: #34495e; color: #3498db; }
.badge { background: #e67e22; font-size: 10px; padding: 2px 6px; border-radius: 4px; }

/* Content Area */
.content {
    display: flex;
    flex-direction: column; 
    padding: 20px;
    /* overflow-y: auto;  */
    width: 100%;
    height: 100vh;
}
header { display: flex; justify-content: space-between; margin-bottom: 30px; }
.stats-grid { display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px; }
.card { background: white; padding: 20px; border-radius: 12px; display: flex; align-items: center; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }
.card i { font-size: 2rem; margin-right: 15px; color: #3498db; }

/* AI Section */
.ai-section { margin-top: 30px; background: white; padding: 20px; border-radius: 12px; }
textarea { width: 100%; height: 100px; padding: 10px; margin: 10px 0; border-radius: 8px; border: 1px solid #ddd; }
.btn-primary { background: #3498db; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; }
.result-box { margin-top: 20px; padding: 15px; background: #e8f4fd; border-left: 5px solid #3498db; }
.hidden { display: none; }

/* Modal Background */
.modal {
    display: none; /* Default hidden */
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    backdrop-filter: blur(4px);
}


 .modal-content {
    background-color: white;
    margin: 5% auto; /* Margin thora kam kiya */
    padding: 0;
    width: 90%; /* Mobile responsive */
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    max-height: 85vh; /* Screen ka 85% se zyada bara nahi hoga */
    display: flex;
    flex-direction: column;
}

#add-patient-form {
    padding: 20px;
    overflow-y: auto; /* Agar form bara ho to scroll bar andar aye */
}

.modal-footer {
    padding: 15px 20px;
    border-top: 1px solid #eee;
    background: #f9f9f9;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

@keyframes slideDown {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.modal-header {
    padding: 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn { font-size: 24px; cursor: pointer; color: #888; }

form { padding: 20px;}
.form-row { display: flex; gap: 10px; margin-bottom: 15px; }
.form-row input, .form-row select { flex: 1; padding: 10px; border: 1px solid #ddd; border-radius: 5px; }

textarea { width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; margin-bottom: 15px; height: 80px; }

.btn-secondary { background: #95a5a6; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; }
.btn-add { position: fixed; bottom: 30px; right: 30px; padding: 15px 25px; background: #27ae60; color: white; border: none; border-radius: 50px; font-weight: bold; cursor: pointer; box-shadow: 0 4px 15px rgba(39, 174, 96, 0.3); }

.patient-list-section {
    background: white;
    margin-top: 30px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#search-patient {
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 250px;
}

.table-container { overflow-x: auto; }

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th {
    background: #f8f9fa;
    padding: 12px;
    color: #7f8c8d;
    font-size: 0.9rem;
    border-bottom: 2px solid #eee;
}

td {
    padding: 15px 12px;
    border-bottom: 1px solid #eee;
    font-size: 0.95rem;
}

tr:hover { background: #fcfcfc; }

/* Action Buttons */
.btn-view { color: #3498db; cursor: pointer; margin-right: 10px; border: none; background: none; }
.btn-delete { color: #e74c3c; cursor: pointer; border: none; background: none; }

.hidden { display: none; text-align: center; padding: 20px; color: #95a5a6; }

.history-modal {
    max-width: 600px;
    border-top: 5px solid #3498db;
}

.patient-info-card {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.patient-info-card h3 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.history-box {
    background: #fffdf0;
    padding: 15px;
    border-left: 4px solid #f1c40f;
    margin-top: 10px;
    min-height: 100px;
    font-style: italic;
}

.modal-body { padding: 20px; }
.close-history{
    cursor: pointer;
}
.prescription-section {
    background: white;
    padding: 20px;
    border-radius: 12px;
    display: block;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    width: 100%;
    
}

.presc-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; margin-bottom: 20px; }

.med-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.med-row input { flex: 1; padding: 10px; border: 1px solid #ddd; border-radius: 5px; }

.btn-print { background: #2c3e50; margin-top: 20px; }


.appointment-section {
    background: #f8fbff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border-left: 5px solid #2874a6;
}

.appointment-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-bottom: 15px;
}

.appt-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.appt-item {
    background: white;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.appt-info b { color: #2874a6; }

.role-switcher {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
.btn-tab {
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: #ddd;
}
.btn-tab.active {
    background: #2874a6;
    color: white;
}
.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}
.dashboard-charts {
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}
.chart-card canvas {
    max-height: 300px;
}
.logo{
    cursor: pointer;
}
.nav-label {
    font-size: 11px;
    text-transform: uppercase;
    color: #888;
    margin: 20px 0 10px 15px;
    letter-spacing: 1px;
    list-style: none;
}